/* Etiquetas globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.3rem;
}

a {
     text-decoration: none; /* para quitar la linea de abajo del link */
     cursor: pointer; /* para poner la mano en el puntero */
}

/*  */
/* Etiquetas Para el header */
/*  */

header {
    width: 100%;
    height: 6rem;
}

header nav {
    display: flex;
    justify-content: flex-end;
    /* Estas 2 lineas de arriba son para dejar el menu en la parte derecha */
}

header nav .nav-right-section {
    width: 25rem;
    height: auto;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center; /*  alinea de manera vertical */
}

nav .nav-right-section a {
    margin-right: 1rem;
    color: #000000;
}

nav .nav-right-section .menu-icon {
    background-image: url('https://static.thenounproject.com/png/756729-200.png');
    /* las comillas (' ') para pergar la URL dentro son obligatorias | esta etiqueta trae una imagen de algun lado */
    background-repeat: no-repeat;
    /* para que la imagen no se repita si es muy chica o se expanda si es muy grande */
    background-position: center;
    /* para que se posicione en el centro del contenedor */
    background-size: contain;
    /* para que la imagen se adapte al tamaño del contenedor */
    width: 2.5rem;
    height: 2.5rem;
    /* estas 2 lineas de arriba son para darle el tamaño a la imagen */
}

nav .nav-right-section img {
    border-radius: 50%;
    margin-left: 1rem;
}

/*  */
/* Etiquetas Para el main */
/*  */

main {
    margin-top: 15rem;
    text-align: center;
}

main .main-logo {
    width: 53rem;
    margin: 0 auto;
    margin-bottom: 3.5rem;
    background-size: contain;
}

main .main-logo img {
    width: 30rem;
}